<h1>NEW POST FORM</h1>
<form class="">
    {{input type="text" placeholder="enter text here (external)" value=title}}
    <br>
    {{textarea value=post }}
    <PowerSelect @selected={{this.type}} @options={{this.option}} @onChange={{this.chooseType}} as |name|>
    {{name}}
    </PowerSelect>
</form>